


<header>
    <div class="header-left-items">
            <button id="menu"><i class="fa-solid fa-bars"></i></button>
        <div id="logo">WanderWorld</div>
    </div>
    <div class="header-right-items">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/discover.html">Discover</a></li>
                <li><a href="/locations.html">Locations</a></li>
                <li><a href="/about.html">About Us</a></li>
                <li><a href="/support.html">Support</a></li>
            </ul>            
        </nav>
        <button id="searchBtn"><i class="fa-solid fa-magnifying-glass">fd</i></button>
        <a href=""><i class="fa-solid fa-user"></i></a>
        <a href="" id="signup">Sign up</a>
    </div>
    
    <div id="searchBar">
        <button id="cancelSearch"><i class="fa-solid fa-arrow-left"></i></button>
        <input type="search" name="search" id="search" placeholder="Search for a destination">
        
        <button id="searchEnter"><i class="fa-solid fa-magnifying-glass">fd</i></button>
    </div>
</header>
