<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="card.css">
    <title>Card Component</title>
</head>
<body>
    <div class="card-container">
        <div class="card-image">
            <img src="/assets/images/blog1.jpg" alt="">
        </div>
        <div class="card-description">
                <p class="title">Italy</p>
                <p class="rating">
                    <span>4.5</span> 
                    <span class="stars">
                        <i class="fa-solid fa-star fa-xs"></i>
                        <i class="fa-solid fa-star fa-xs"></i>
                        <i class="fa-solid fa-star fa-xs"></i>
                        <i class="fa-solid fa-star fa-xs"></i>
                        <i class="fa-solid fa-star-half fa-xs"></i>
                    </span>
                </p>
                <p>
                    <i class="fa-solid fa-location-dot"></i>
                    <span class="location">Mazandaran</span>
                </p>
                <p class="duration">1 day</p>
        </div>
        <div class="card-bookmark">
            <button>
                <i class="fa-regular fa-bookmark"></i>
            </button>
        </div>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>