<footer>
    <!-- Newsletter section -->
    <section id="newsletter">
        <h2>Subscribe Our Newsletter</h2>
        <div class="newletter-form">
            <div id="email-container">
                <input type="email" placeholder="Enter Your Email">
            </div>
            <button>Subscribe</button>
        </div>
    </section>


    <div id="footer-main">
        <div class="address">
            <p>WanderWorld</p>
            <p><i class="fa-solid fa-location-dot"></i> Lakshmipuram road, Guntur, Andhra Pradesh, India</p>
            <p><i class="fa-solid fa-phone"></i> 0863 -222000</p>
            <p><i class="fa-solid fa-envelope"></i> support@wanderworld.com</p>
        </div>

        <div class="link-set" id="link-set-1">
            <ul>
                <li><a href="">My Account</a></li>
                <li><a href="">Search Terms</a></li>
                <li><a href="">Advanced Search</a></li>
                <li><a href="">Orders & Returns</a></li>
                <li><a href="">Help & FAQ</a></li>
                <li><a href="">Store Locations</a></li>
            </ul>
        </div>
        <div class="link-set" id="link-set-2">
            <ul>
                <li><a href="">Information</a></li>
                <li><a href="">News</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">Refunds & Returns</a></li>
                <li><a href="">Delivery</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="link-set" id="link-set-3">
            <ul>
                <li><a href="">Information</a></li>
                <li><a href="">Rock Climbing Gears</a></li>
                <li><a href=""></a>Solar Powered Helmet</li>
                <li><a href=""></a>Pull Rope Rubber</li>
                <li><a href="">Pairing Knife</a></li>
                <li><a href="">Ladder Golf</a></li>
            </ul>
        </div>
    </div>

    <div class="socials">
        <p>Follow Us On</p>
        <ul>
            <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
    </div>

</footer>

<!-- End of footer -->

<!-- Sidebar -->

<div id="sidebar">
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Discover</a></li>
            <li><a href="">Locations</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Support</a></li>
        </ul>
    </nav>
    <button id="back"><i class="fa-solid fa-arrow-left"></i></button>
</div>

</body>