:root {
    --primary: #3EA8FF;
}

#menu, #searchBtn, header a {
    color: #fff;
}

#megacontainer {
    background: url('https://images.unsplash.com/photo-1517900967394-ef4bc655080e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

#hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#hero > h1 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    #hero > h1 {
        font-size: 2rem;
    }
}

#quickbook {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
}

@media screen and (min-width: 1200px) {
    #quickbook {
        flex-direction: row;
        gap: 30px;
    }
}

.quickbook-input {
    border: 1px solid #fff;
    padding: 15px 30px;
    border-radius: 20px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.quickbook-input > select
 {
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.quickbook-input > select option {
    background-color: #000;
    border: none;
}

#quickbook > button {
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;

}

#start {
    background-color: transparent;
    /* padding: 15px 30px; */
    border-radius: 20px;
    border: none;
    color: #fff;
    cursor: pointer;
}



#discount {
    text-align: center;
}

#blogroll {
    position: absolute;
    height: fit-content;
    width: 100%;
    /* background: turquoise; */
    bottom: 0;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

#blogroll a {
    text-decoration: none;
    color: #fff;
}

.blog {
    display: flex;
    width: 300px;
    gap: 10px;
    margin-left: 30%;
}


#blogroll img {
    height: 100px;
}

#blogroll i {
    font-size: 2rem;
}

#blogroll > div:nth-child(3) > ul > li{
    display: inline;
    margin: 0 10px;
}

#blogroll > div:nth-child(4) > ul > li{
    margin: 20px 0px;
    text-align: center;
}

#blogroll li {
    list-style: none;
}

#hero-socials {
    position: absolute;
    height: fit-content;
    width: 59px;
    background-color: rgba(255, 255, 255, 0.2);
    right: 0;
    border-radius: 35px 0 0 35px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#hero-socials a {
    color: #fff;
}

.socialmediaicon {
    padding: 20px 0;
    font-size: 1.5rem;
}

.socialmediaicon:nth-child(2) {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

@media screen and (max-width: 1200px) {
    #hero-socials, #blogroll {
        display: none;
    }
}



